.boxContainer{
  
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  font-weight:500;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  border: 1px solid #572e2e;
  color: white;
  background: #570606;
  transition: color 0.3s, border-color 0.3s, background 0.4s, box-shadow 0.3s;
  
  
}
.boxContainer:focus{
  outline: none;
}


.boxContainer:hover,
.boxContainer:active {
  color: #ffffff;
  border-color: white;
  background: #810404;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  background: transparent;
}


















