button {
    width:6rem ;
    font: inherit;
    padding: 0.5rem 0rem;
    border-radius: 10px;
    font-weight:lighter;
    cursor: pointer;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
  }
  .button{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    border: 1px solid #572e2e;
    color: white;
    background: #570606;
    transition: color 0.2s, border-color 0.2s, background 0.2s, box-shadow 0.2s;
  }
  .buttonAlt {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    width:6rem ;
    border: 1px solid #810404;
    color: #a51616;
    background: transparent;
    transition: color 0.2s, border-color 0.2s, background 0.2s, box-shadow 0.2s;
  }
  

  button:focus {
    outline: none;
  }
  
 
  button:hover,
  button:active {
    color: #ffffff;
    border-color: white;
    background: #810404;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  @media (min-width:300px){  
    .button,.buttonAlt{
      width:6.5rem ;
    }
  }
  @media (min-width:320px){  
    .button,.buttonAlt{
      width:7rem ;
    }
  }
  @media (min-width:350px){  
    .button,.buttonAlt{
      width:8rem ;
    }
  }
  @media (min-width:380px){  
    .button,.buttonAlt{
      width:8.5rem ;
    }
  }
  @media (min-width:400px){  
    .button,.buttonAlt{
      width:9rem ;
    }
  }
  @media (min-width:430px){  
    .buttonAlt{
      margin-left:1rem ;
    }
  }
  @media (min-width:450px){  
    .buttonAlt{
      margin-left:2rem ;
    }
  }
  @media (min-width:450px){  
    .buttonAlt{
      margin-left:2rem ;
    }
  }
  @media (min-width:520px){  
    .buttonAlt{
      margin-left:3rem ;
    }
  }
  @media (min-width:550px){  
    .buttonAlt{
      margin-left:3.5rem ;
    }
  }
  @media (min-width:768px){  
    .button,.buttonAlt{
      width: auto;
      font-weight:100; 
      padding: 0.5rem 1.5rem;
      font-size:medium;
      margin-bottom: 2rem;
    }
    .buttonAlt{
      margin-left:0rem ;
    }
    
  }

  @media screen and (min-width: 990px) {
    .button,.buttonAlt{
      width: 11rem;
      padding: 0.5rem 1.5rem;
      border-radius: 10px;
      font-weight:300; 
      font-size:medium;
    }
}