.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;     
    margin-bottom: 7rem;
  }
  
  .leftSide,
  .rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .leftSide {
    justify-content: flex-start; 
  }
  
  .rightSide {
    justify-content: flex-end;
  }

.text {
    font-size: 4rem;
    text-shadow: 3px 3px 6px rgba(61, 61, 61, 0.7); 
  }

