.header{
    background:transparent;     
    margin-bottom: 7rem;
  }


.text {
    font-size: 4rem;
    text-shadow: 3px 3px 6px rgba(61, 61, 61, 0.7);
    text-align: center; 
  }

.leftSiderow,.rightSide{
  margin-top: -1rem;
}

#aboutHeading{
  text-align: center;
}