/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
  overflow: hidden;
}
body {
  color: white;
  background-image: url('../public/basic/background3.jpg');
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 20px;
}
@font-face {
  font-family: 'Verdana';
  src: url('../public/fonts/verdana.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('../public/fonts/ComicSansMS3.ttf') format('truetype');
}

h1, h2, h3, p, div {
  color: #AD0C0C;
  font-family: 'Comic Sans MS';
}
span{
  font-family: 'Comic Sans MS';
}
button{
  font-family: "Verdana";
}

h2 {
  font-size: 24px;
  color: #AD0C0C; 
}

p {
  font-size: 18px;
  line-height: 1.5;
}



footer {
  background-color: black;
  color: white;
  padding: 10px;
}

