/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-image: url('../public/background3.jpg');
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.h1,h2,h3,p,div{
  color: #AD0C0C;
  font-family: cursive;
}

h2 {
  font-size: 24px;
  color: #AD0C0C; 
}

p {
  font-size: 18px;
  line-height: 1.5;
}



footer {
  background-color: black;
  color: white;
  padding: 10px;
}

